---
import { Image } from 'astro:assets';

import gen12 from '@/assets/images/stories/gen12.png';
import gen3 from '@/assets/images/stories/gen3.png';
import gen4 from '@/assets/images/stories/gen4.png';
import gen5 from '@/assets/images/stories/gen5.png';
import gen6 from '@/assets/images/stories/gen6.png';
import gen7 from '@/assets/images/stories/gen7.png';
import gen8 from '@/assets/images/stories/gen8.webp';

import bannerGen12 from '@/assets/images/banners/banner_1-2.webp';
import bannerGen3 from '@/assets/images/banners/banner_3.png';
import bannerGen4 from '@/assets/images/banners/banner_4.webp';
import bannerGen5 from '@/assets/images/banners/banner_5.webp';
import bannerGen6 from '@/assets/images/banners/banner_6.webp';
import bannerGen7 from '@/assets/images/banners/banner_7.webp';

const stories: ({
  image: ImageMetadata,
  bannerImage?: ImageMetadata,
  header: string,
  content: string
})[] = [
  {
    image: gen12,
    bannerImage: bannerGen12,

    header: "GEN 1, 2",
    content: "Nhận thấy tầm quan trọng của việc xây dựng niềm đam mê và yêu thích công nghệ trong các bạn trẻ, ADaPT ra đời với sứ mệnh đem đến một cái nhìn khác đối với một lĩnh vực được coi là vô cùng khô khan và khó tiếp cận. Được bảo trợ chuyên môn bởi thầy Đào Xuân Dương – giáo viên bộ môn Vật lý, tháng 3 năm 2016, thế hệ đầu tiên của ADaPT đã ra đời tại ngôi trường THPT Chuyên Sư Phạm. Với sự lãnh đạo của vị chủ tịch đầu tiên, chị Phạm Thanh Hương, ADaPT trong thời gian đầu thành lập đã tổ chức thành công aPresent 2016 và đã thu hút rất nhiều bạn học sinh quan tâm đến câu lạc bộ."
  },
  {
    image: gen3,
    bannerImage: bannerGen3,

    header: "GEN 3",
    content: "Với sự lãnh đạo của vị chủ tịch kính mến – chị Đoàn Ngọc Ánh, ADaPT Gen 3 đã tổ chức thành công các sự kiện lớn, thu hút đông đảo các bạn học sinh tham gia: aPresent 2017, hội chợ công nghệ CyberPiece 2018."
  },
  {
    image: gen4,
    bannerImage: bannerGen4,

    header: "GEN 4",
    content: "ADaPT Gen 4 dưới sự lãnh đạo của chị Nguyễn Ngọc Chi đã tổ chức thành công hai sự kiện lớn: aPresent 2018 và hội chợ công nghệ Lightsaber."
  },
  {
    image: gen5,
    bannerImage: bannerGen5,

    header: "GEN 5",
    content: "Mặc dù bị ảnh hưởng do dịch bệnh nhưng dưới sự lãnh đạo của anh Nguyễn Ngọc Long, gen 5 là một gen khá thành công với ADaPT khi trở thành đại diện cho trường Chuyên Sư Phạm tham gia cuộc thi STEM do VinUni tổ chức với chủ đề bảo vệ môi trường và xuất sắc đem về 2 giải thưởng lớn. Một trong số 2 sản phẩm đó là chiếc thùng rác tự phân loại rác thải được tích hợp công nghệ AI đã giúp ích rất nhiều cho môi trường. Bên cạnh đó sản phẩm “Máy phun sương khử khuẩn tự động” đã góp một phần không nhỏ vào công cuộc phòng chống dịch bệnh COVID-19 của ngôi trường THPT Chuyên Sư Phạm."
  },
  {
    image: gen6,
    bannerImage: bannerGen6,

    header: "GEN 6",
    content: "ADaPT Gen 6 đã tổ chức thành công aSpeak 2020 với sự chiến thắng của nhóm trạm cứu hộ nổi và báo lũ AIDE. Bên cạnh đó ADaPT đã vô cùng xuất sắc khi lọt vào Top 12 của cuộc thi Future Blue Innovation 2021 – FBI 2021 với sáng chế “Thùng rác thông minh – ATrade”."
  },
  {
    image: gen7,
    bannerImage: bannerGen7,

    header: "GEN 7",
    content: "Trải qua 5 năm xây dựng và phát triển, câu lạc bộ đã dần khẳng định được vị thế của mình, tạo ra nhiều sản phẩm sáng tạo độc đáo được các bạn học sinh Chuyên Sư Phạm nói riêng và các bạn học sinh trên toàn thành phố Hà Nội nói chung hưởng ứng nhiệt liệt. Một gen mới lại bắt đầu, hãy cùng chờ đón xem dưới sự lãnh đạo của chủ tịch Nguyễn Khánh Linh, ADaPT gen 7 sẽ đem đến cho các bạn học sinh những trải nghiệm mới nào nhé!"
  },
  {
    image: gen8,

    header: "GEN 8",
    content: "Sau 6 năm hoạt động, câu lạc bộ đã trải qua nhiều thử thách và càng khẳng định được vị thế của mình. Đồng hành với câu lạc bộ năm nay là những bé K56 vô cùng năng động dễ thương và đáng yêu cùng với Ban điều hành vô cùng mới mẻ. Hãy cùng chờ đón những trải nghiệm mới nhé!"
  }
];
---

{stories.map((story) => <>
  <div class='pl-6 pr-6 pt-16 flex mr-auto ml-auto w-full max-w-[800px] flex-col'>
    <div class='mb-auto mt-auto'>
      <Image src={story.image} alt={story.header} class="w-full h-auto rounded-3xl" />
    </div>

    <div class="text-center mt-auto mb-auto p-10">
      <h1 class="text-red-700 text-[40px] font-normal pt-8">{story.header}</h1>
      <p class="text-white pt-8 pl-4 pr-4 text-[20px]">{story.content}</p>
    </div>
  </div>
</>)}

{stories.map((story) => (
  story.bannerImage == null
    ? <></>
    : <Image src={story.bannerImage} alt={story.header} class="w-full max-w-[1663px] ml-auto mr-auto pt-8 pl-6 pr-6" />
))}
